.contact {
  padding: 10% 20px;
}

.contact-details {
  margin-top: 15px;
}

.contact-details p,
.contact-details a {
  display: inline-block;
}

.contact-details p {
  margin-right: 4px;
}

.contact-details a {
  color: #000;
  font-weight: 400;
}
