@font-face {
  font-family: 'RNSCamelia-Bold';
  src: url('/fonts/RNSCamelia-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica-Md';
  src: url('/fonts/HelveticaNeueLTStd-Md.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica-Th';
  src: url('/fonts/HelveticaNeueLTStd-Th.otf') format('opentype');
}

h1, h2, h3 {
  font-family: 'RNSCamelia-Bold';
  font-size: 60px;
}

h1, h2, p {
  margin: 0;
}

p {
  font-family: 'Helvetica-Th', sans-serif;
  color: #808080;
}

h1 {
  margin-bottom: 20px;
}

h1, p {
  line-height: 1.2;
}

h3 {
  margin: 0 0 15px 0;
  line-height: 1;
}

.card-title {
  font-family: 'Helvetica-Md', sans-serif;
}
